body {
    margin: 0;
      font-family: Arial, sans-serif;
    }
a{
  text-decoration: none;
  color: white;
}
a:visited{
  color: white;
}
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 40px;
      color: white;
    }

    .navbar-left {
      display: flex;
      align-items: center;
      color: white;
    }

    .navbar-left img {
      height: 50px;
      margin-right: 30px;
    }

    .nav-links {
      display: flex;
      gap: 25px; 
      font-weight: bold;
      font-size: 15px;
      color: white;      
    }

    .navbar-right {
      color: white;
      font-weight: bold;
      font-size: 15px;
      margin-right: 10px;
    }
    #first{
        background-image: url(img/67b48b738e935a0056834fe9-ferrari-sf-25-gate-launch-big-desk.avif);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 750px;
    }
    #car{
        color: white;
        position: absolute;
        bottom: 180px;
        padding-left: 40%;
      font-size: 45px;
      font-weight: bold;
      text-align: center;
    }
    a#r1{
        color: white;
        position: absolute;
        bottom: 170px;
        padding-left: 45%;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
    .discover{
      position: relative;
     width: 100%;
     height: 100vh;
     overflow: hidden;
    }
    .video-background{
      position: absolute;
     top: 0;
     left: 0;
     width: 1600px;
     
     object-fit: cover;
     z-index: -1;
    }  
    .text{
        position: absolute;
     bottom: 10px;
        padding-left: 1400px;
     transform: translate(-50%, -50%);
     color: white;
     font-size: 30px;
     font-weight: bold;
     z-index: 1;
   }

    h3#a1{
      font-weight: 400;
      font-size: 20px;
      margin-left: 35%;
    }
    h3#a2{
      position: relative;
      white-space: nowrap;
    }
    .text a{
      font-weight: 100;
      font-size: 10px;
      margin-left: 46%;
      color: white;
    }
    .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.text-content {
  flex: 1;
  padding-right: 40px;
}

.text-content h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

a.read-more {
  display: inline-flex;
  align-items: center;
  font-size: 0.9rem;
  color: #111;
  padding: 10px 20px;
  text-decoration: none;
}
   
    .section3-first {
  display: flex;
  width: 100%;
  height: 100vh;
}

#cm {
  display: flex;
  flex: 1;
}

#Collections, #Magazine {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#Collections {
  background-image: url(img/picture11.jpg);
}

#Magazine {
  background-image: url(img/67f650a0478fef0021d2689a-landscape3-1920x1080_collectibles_exhaust_0416-2.avif);
}


#Collections div:nth-child(1),
#Magazine #mag {
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.8;
  padding-left: 300px;
  padding-top: 400px;
}

#Collections div:nth-child(2){
  font-size: 32px;
  font-weight: bold;
   margin-left: auto;
  margin-right: 200px;
  padding-left: 1px;
}

#Magazine #frco {
  font-size: 32px;
  font-weight: bold;
   margin-left: auto;
  margin-right: 130px;
  padding-left: 1px;
}

#Collections div:nth-child(3){
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  padding-left: 313px;
  width: fit-content;
  
}
#Magazine #dis2 a {
    font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 300px;
  width: fit-content;
  
}



.section3-second {
  display: flex;
  width: 100%;
  height: 100vh;
}

#dm {
  display: flex;
  flex: 1;
}

#Endurance, #FerrariMuseums {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#Endurance {
  background-image: url(img/picture3.jpg);
}

#FerrariMuseums {
  background-image: url(img/picture4.jpg);
}


#Endurance div:nth-child(1){
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.8;
  padding-left: 300px;
  padding-top: 400px;
}
#FerrariMuseums #mus {
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.8;
  padding-left: 270px;
  padding-top: 400px;
}

#Endurance div:nth-child(2){
  font-size: 24px;
  font-weight: bold;
   margin-left: auto;
  margin-right: 200px;
  padding-left: 28px;
  white-space: nowrap;
}

#FerrariMuseums #sup {
  font-size: 32px;
  font-weight: bold;
  margin-right: 130px;
  padding-left: 250px;
}

#Endurance div:nth-child(3){
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  padding-left: 313px;
  width: fit-content;
  
}
#FerrariMuseums #dis4 a {
    font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 300px;
  width: fit-content; 
}

.section3-third {
  display: flex;
  width: 100%;
  height: 100vh;
}

#em {
  display: flex;
  flex: 1;
}

#FerrariApproved, #SportsCars {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#FerrariApproved {
  background-image: url(img/picture5.jpg);
}

#SportsCars {
  background-image: url(img/picture6.jpg);
  background-repeat: no-repeat;
}


#FerrariApproved div:nth-child(1){
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.8;
  padding-left: 270px;
  padding-top: 300px;
}
#SportsCars #spc {
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.8;
  padding-left: 275px;
  padding-top: 300px;
}

#FerrariApproved div:nth-child(2){
  font-size: 32px;
  font-weight: bold;
   margin-left: auto;
  margin-right: 230px;
  padding-left: 28px;
  white-space: nowrap;
}

#SportsCars #past {
  font-size: 26px;
  font-weight: bold;
  margin-right: 240px;
  padding-left: 250px;
  white-space: nowrap;
}

#FerrariApproved div:nth-child(3){
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  padding-left: 305px;
  width: fit-content;
  
}
#SportsCars #dis6 a {
    font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 300px;
  width: fit-content; 
}
#Newsletter{
  text-align: center; 
  padding: 10px 20px 40px;
  background-color: #2e2c2c; 
  color: white;
}
#topic1{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
 padding-left: .3px;
 padding-top: 90px;
}
#stay{
 font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
 padding-left: 50px;
 padding-top: 20px;
}
#Subscribe button {
       background: linear-gradient(to bottom, #f62c2c, #e46464);
  color: white;
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  display: inline-block;
  margin-top: 20px;
}
#Subscribe button:hover{
  background-color: #ff0000;
}
.the-last-part{
  background-color: black;
  color: white;
}
.footer-menu {
      display: flex;
      justify-content: space-around;
      padding: 40px 20px;
      background-color: #111;
    }

    .footer-column h3 {
      font-size: 14px;
      margin-bottom: 20px;
      color: white;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
    }

    .footer-column a {
      color: #ccc;
      text-decoration: none;
      margin-bottom: 10px;
      font-size: 14px;
      transition: color 0.2s;
      display: flex;
      justify-content: center;
    }

    .footer-column a:hover {
      color: #fff;
    }
    #Social{
     display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
    }
    #first-social{
     display: flex;
  gap: 40px;
  justify-content: center;
    }
    #second-social{
      display: flex;
  gap: 40px;
  justify-content: center;
    }
    #Details{
      text-align: center; 
      max-width: 900px; 
      margin: 0 auto; 
      font-size: 9px; 
      color: #aaa; 
      line-height: 1.6;
    }
    #Appendix{
      background-color: #222; padding: 20px;
      line-height: 30px;
    }
    .Legal{
      display: flex; 
      flex-wrap: wrap; 
      justify-content: center; 
      gap: 25px; 
      font-size: 12px;
    }
    .Responsible{
       display: flex; 
      flex-wrap: wrap; 
      justify-content: center; 
      gap: 25px; 
      font-size: 12px;
    }
    #Thailand{
      text-align:end; 
      margin-bottom: 1px; 
      font-weight: bold;
    }
    #shell img{
      cursor: pointer;
    }

   
@media screen and (max-width: 425px) {
  .navbar {
    justify-content: space-between;
    position: relative;
  }

  .nav-left,.nav-right {
    flex: 1;
    text-align: center;
  }

  .navbar img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .nav-links{
    display: none;
  }
  .nav-logo img {
    height: 30px;
  }
  #first{
    background-image: url(img/ferrari_resized_375x800.jpg);
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  .text{
    position: absolute;
    bottom: 10px;
       padding-left: 100%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 1;
  }
  #car{
    padding-left: 70px;
    font-size: 40px;
  }
  a#r1 {
    padding-left: 40%;
    white-space: nowrap;
  }
  .video-background{
    background-size: cover;
  }
#ATOUGHDAY {
  .container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .text-content {
    padding: 10px;
  }

  .image img {
    width: 300px;
    height: auto;
    margin-top: 30px;
  }
}
.section3-first {
    flex-direction: column;
    height: auto;
  }

  #cm {
    flex-direction: column;
    
  }

  #Collections div:nth-child(1),
  #Magazine #mag,
  #Collections div:nth-child(3),
  #Magazine #dis2 a {
    padding-left: 20px;
    padding-top: 20px;
  }

  #Collections div:nth-child(2),
  #Magazine #frco {
    margin-left: 20px;
    margin-right: 0;
    padding-left: 0;
  }

  #Magazine #dis2 a {
    padding-left: 20px;
  }

  #Collections, #Magazine {
    padding: 20px;
    height: 60vh;
  }
  .section3-second {
    flex-direction: column;
    height: auto;
  }

  #dm {
    flex-direction: column;
    
  }

  #Endurance div:nth-child(1),
  #FerrariMuseums #mus,
  #Endurance div:nth-child(3),
  #Magazine #dis2 a {
    padding-left: 20px;
    padding-top: 20px;
  }

  #Endurances div:nth-child(2),
  #FerrariMuseums #sup {
    margin-left: 20px;
    margin-right: 0;
    padding-left: 0;
  }

  #FerrariMuseums #dis4 a {
    padding-left: 20px;
  }

  #Endurance, #FerrariMuseums {
    padding: 20px;
    height: 60vh;
  }
  .section3-second {
    flex-direction: column;
    height: auto;
  }

  #dm {
    flex-direction: column;
    
  }

  #Endurance div:nth-child(1),
  #FerrariMuseums #mus,
  #Endurance div:nth-child(3),
  #Magazine #dis2 a {
    padding-left: 20px;
    padding-top: 20px;
  }

  #Endurances div:nth-child(2),
  #FerrariMuseums #sup {
    margin-left: 20px;
    margin-right: 0;
    padding-left: 0;
  }

  #FerrariMuseums #dis4 a {
    padding-left: 20px;
  }

  #Endurance, #FerrariMuseums {
    padding: 20px;
    height: 60vh;
  }
  .section3-third {
    flex-direction: column;
    height: auto;
  }

  #em {
    flex-direction: column;
    
  }

  #FerrariApproved div:nth-child(1),
  #SportsCars #spc,
  #FerrariApproved div:nth-child(3),
  #SportsCars #dis a {
    padding-left: 20px;
    padding-top: 20px;
  }

  #FerrariApproved div:nth-child(2),
  #SportsCars #past {
    margin-left: 20px;
    margin-right: 0;
    padding-left: 0;
  }

  #SportsCars #dis6 a {
    padding-left: 20px;
  }

  #FerrariApproved, #SportsCars {
    padding: 20px;
    height: 60vh;
  }
  #stay{
    padding-right: 29px;
  }
    #first-social {
    flex-direction: column;         
    align-items: flex-end;          
    justify-content: flex-start;    
    padding-right: 20px;            
  }
  #second-social {
    flex-direction: column;         
    align-items: flex-end;          
    justify-content: flex-start;    
    padding-right: 20px;            
  }
  #Social {
    align-items: flex-start;  
    gap: 40px;        
  }
  #Thailand {
    text-align: center;
    margin-bottom: 15px;
  }
}

  

